<div>
  
  <%= link_to 'Add new', new_user_food_path(user_id: current_user) %>

  <div class="food-item">

    <strong>Food name</strong>
    <strong>Unit</strong>
    <strong>Unit price</strong>
    <strong>Quantity</strong>
    <strong>Action</strong>
    
  </div>

  <% @foods.each do |food| %>
    <% if can? :manage, food %>

      <%= render food %>
      
    <% end %>
  <% end %>

</div>