
:root {
  --total_padding: 1rem 10rem;
  
  @media screen and (max-width: 768px) {
    --total_padding: 1rem 1rem;
  }
}
  
*:not(h2, h3) {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 15px;
}

body {
  padding: var(--total_padding);
}

