
:root {
  --total_padding: 1rem 10rem;

  @media screen and (max-width: 768px) {
    --total_padding: 1rem 1rem;
  }
}

*:not(h2, h3) {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  padding: var(--total_padding);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 2rem;
}

.recipe-item {
  text-decoration: none;
  color: black;
  border: solid blue 0.5px;
  padding: 15px;
  border-radius: 10px;
  margin: 2rem 0 2rem 0;
  display: block;
}

.food-item {
  margin-top: 2rem;
  text-decoration: none;
  color: black;
  border: solid blue 0.5px;
  padding: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
}

.form {
  display: grid;
  grid-template-columns: min-content;
  gap: 1rem;
}

.notice {
  color: rgb(0, 156, 3);
}

.alert {
  color: rgb(255, 0, 0);
}

.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.form-check {
  scale: 1.5;
  pointer-events: none;
}

.recipe-food-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.recipe-food-item * {
  border: 0.1rem solid red;
}

.recipe-food-header {
  border: 0.1rem solid red;
}

.public-recipe-item,
.shopping-list-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  margin: 2rem 0;
}

.shopping-list-item {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}

a:active {
  font-weight: bold;
}

/* .food-item {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
} */
